{% set classes = [
  'accordion',
  'accordion--' ~ accordion.type,
  accordion.image ? 'accordion--has-image',
] %}
{% set uniqueId = accordion.group|clean_class ~ '_' ~ accordion.title|clean_class %}
<div class="{{ classes|join(' ') }}">
  <button class="accordion__header"
    aria-expanded="false"
    aria-controls="{{ uniqueId }}">
    {% if image.images.5 is not empty %}
      <span class="accordion__header-image">
        {{ drupal_image(image.images.5.uri['#markup'], 'thumbnail', {alt: image.images.5.alt['#markup']|t}) }}
      </span>
    {% endif %}
    <span class="h4">{{- accordion.title -}}</span>
  </button>
  <div id="{{ uniqueId }}" class="accordion__content" aria-hidden="true">
    <div class="accordion__content-wrapper text-formatted">
      {{ text }}

      {% if accordion.subText[0] %}
        <div class="accordion__content-info">
          <p><span>{{ 'Weitere Kategorien:' | t ~ ' ' }}</span>
          {{ accordion.subText|join(', ') }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
