<div class="view-header">
  {% if container is not defined and not container %}
    <div class="container">
  {% endif %}
      {% if breadcrumbs is not defined and not breadcrumbs %}
        {# Breadcrumbs block #}
        {{ drupal_block('system_breadcrumb_block', wrapper=false) }}
      {% endif %}
      <a id="main-content" tabindex="-1" class="visually-hidden"></a>
      <div class="view-header__header-wrapper">
        <h1>
          {% if titlePrefix is defined %}
            <span role="status">{{ titlePrefix }}</span>
          {% endif %}
          {{ title }}
        </h1>
        {# custom select for Data provide/use views #}
        {% if linkUrl %}
          <div class="view-header__link-wrapper">
            <div class="view-header__link">
              <button aria-expanded="false" aria-controls="{{ linkUrlText|clean_class }}">
                <span>{{ linkText }}</span>
              </button>
              <div id="{{ linkUrlText|clean_class }}"
                   class="view-header__link-select"
                   aria-hidden="true">
                <a href="{{ linkUrl }}">
                  <span>{{ linkUrlText }}</span>
                </a>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="view-header__text-wrapper">
          {% if text %}
            <p class="h4">{{ text }}</p>
          {% endif %}
        </div>
      </div>

      {% if subtext is defined and subtext %}
        <div class="view-header__subtext text-formatted">
          <p>{{ subtext }}</p>
        </div>
      {% endif %}

  {% if container is not defined and not container %}
    </div>
  {% endif %}
</div>
