{% set display = content.field_display[0]['#markup']|clean_class %}

{% set classes = [
  'paragraph',
  'paragraph--' ~ paragraph.bundle|clean_class,
  'paragraph--' ~ paragraph.bundle|clean_class ~ '-' ~ display,
] %}

{% set images = content.field_image[0].images %}
{% set imageDefault = images[images|length - 1] %}
{% set imageAlt = imageDefault.alt['#markup'] %}
{% set imageDescription = imageDefault.description['#markup'] %}
{% set imageUri = imageDefault.uri['#markup'] %}
{% set src = imageUri|image_style('content_image_small_xl') %}
{% set imageCopyright = imageDefault.copyright %}

{% block paragraph %}
  <div{{ attributes.addClass(classes, nestedParagraphClasses) }}>
    <div class="paragraph-inner">

      {# set custom image bc of the width and different image style #}
      {% if display == 'klein' %}
        <figure>
          <picture class="responsive-image">
            <img src="{{ src }}" class="responsive-image__img" alt="{{ imageAlt }}">
          </picture>
          {# description #}
          {% if imageDescription %}
            <figcaption class="responsive-image__desc">
              <div class="text-formatted">
                {{- imageDescription|raw -}}
              </div>
            </figcaption>
          {% endif %}
        </figure>
        {# copyright #}
        {% if imageCopyright %}
          <div class="responsive-image__copyright"
            {% if imageCopyright.link %}data-link={{ imageCopyright.link }}{% endif %}>
            <div class="responsive-image__copyright-image"
              style="background-image: url('{{ imageCopyright.image }}')">
            </div>
            {% set elements = [] %}
            {% if imageDefault.author['#markup'] is not empty %}
              {% set elements = elements|merge([imageDefault.author]) %}
            {% endif %}
            {% if imageCopyright.text is not empty %}
              {% set elements = elements|merge([imageCopyright.text]) %}
            {% endif %}
            <span class="responsive-image__copyright-text">
              <span class="responsive-image__copyright-text-title">
                <strong>{{- imageDefault.title -}}</strong>
              </span>
              {%- if elements|length > 0 -%}:{%- endif -%}
              {%- for element in elements -%}
                <span>{{- element -}}</span>
                {%- if not loop.last -%}|{%- endif -%}
              {%- endfor -%}
              {%- if imageCopyright.license is not empty and imageCopyright.license_link is not empty -%}
                |<span><a href="{{-imageCopyright.license_link -}}" target="_blank">{{- imageCopyright.license -}}</a></span>
              {%- elseif copyright.license is not empty -%}
                |<span>{{- imageCopyright.license -}}</span>
              {%- endif -%}
            </span>
          </div>
        {% endif %}
      
      {% else %}
        {% set responsiveImage = {
          images: images,
          description: true,
          lazy: true,
        } %}
        {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
      {% endif %}
    </div>
  </div>
{% endblock %}
