{% set email = user.mail.value %}
{% set phone = content.field_phone[0]['#context'].value|default('') %}
{% set url = path('entity.user.canonical', { 'user': user.id }) %}
{% set jobTitle = content.field_job_title[0]['#context'].value|default('') %}
{% set academicDegree = content.field_academic_degree[0]['#context'].value|default('') %}
{% set firstname = content.field_firstname[0]['#context'].value|default('') %}
{% set lastname = content.field_lastname[0]['#context'].value|default('') %}
{% set nameSuffix = content.field_name_suffix[0]['#context'].value|default('') %}
{% set hasUserImage = content.field_user_image['#items']|default([])|length %}

{# used on Team overview #}
<article{{ attributes.addClass('user-teaser') }}>
  <div class="user-teaser__image">
    <a href="{{ url }}">
      {% if hasUserImage %}
        {% set responsiveImage = { images: content.field_user_image[0].images } %}
        {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
      {% else %}
        <img src="/{{ directory }}/src/images/ddbp-platzhalter-team.webp" alt="">
      {% endif %}
    </a>
  </div>

  <div class="user-teaser__job-title">
    <a href="{{ url }}">
      {{ jobTitle }}
    </a>
  </div>

  <div class="user-teaser__name h4">
    <a href="{{ url }}">
      <span>
        {% if academicDegree %}
          {{ academicDegree }}
        {% endif %}
        {{ firstname }}
      </span>
      <span>
        {{ lastname }}
        {% if nameSuffix %}
          {{ nameSuffix }}
        {% endif %}
      </span>
    </a>
  </div>

  {% if email or phone %}
    <div class="user-teaser__info">
      {% if email %}
        <a href="mailto:{{ email }}" class="user-teaser__email" target="_blank">
          {{ email }}
        </a>
      {% endif %}
      {% if phone %}
        <a href="tel:{{ phone|replace({' ': ''}) }}" class="user-teaser__phone" target="_blank">
          {{ phone }}
        </a>
      {% endif %}
    </div>
  {% endif %}
</article>
