{% set classes = [
  'node',
  'node--user',
  'search-teaser',
] %}

{% set type = 'Ansprechpartner' | t %}
{% set url = url('entity.user.canonical', { 'user': user.id })['#markup'] %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <div class="search-teaser__type">
    {{ type }}
  </div>
  <a href="{{ url }}" class="search-teaser__title">
    <h2 class="h4">
      {% if content.field_academic_degree[0] %}
        {{ content.field_academic_degree[0]['#context'].value }}
      {% endif %}
      {{ content.field_firstname[0]['#context'].value ~ ' ' ~ content.field_lastname[0]['#context'].value }}
      {% if content.field_name_suffix[0] %}
        {{ content.field_name_suffix[0]['#context'].value }}
      {% endif %}
    </h2>
  </a>
  <a href="{{ url }}" class="search-teaser__description text-formatted">
    {% if content.field_job_title[0] %}
      {% set jobTitle = content.field_job_title[0]['#context'].value %}
      <p>{{ jobTitle|length > 400 ? jobTitle|slice(0, 400) ~ ' ...' : jobTitle }}</p>
    {% endif %}
  </a>
  <div class="search-teaser__link">
    <a href="{{ url }}">
      {{ url }}
    </a>
  </div>
</article>
