<div class="view-empty">
  <h2>{{ 'Entschuldigen Sie,' | t }}</h2>
  <h3>{{ 'Ihre Auswahl hat zu keinem Ergebnis gef체hrt.' | t }}</h3>
  <h4>
    {{ 'Bitte 채ndern Sie Ihre Auswahl oder wenden Sie sich f체r weitere Unterst체tzung an unsere' | t ~ ' ' }}
    <a href="{{ '/node/279' | t }}">
      {{ 'Servicestelle' }}.
    </a>
  </h4>
</div>
