<div class="view-empty">
  <h2>{{ 'Entschuldigen Sie,' | t }}</h2>
  <h3>{{ 'Ihre ausgewählten Filter ergaben leider kein Ergebnis.' | t }}</h3>
  <h4>
    {{ 'Bitte passen Sie Ihre Auswahl an oder kontaktieren Sie für weitere Fragen unsere' | t ~ ' ' }}
    <a href="{{ '/node/279' | t }}">
      {{ 'Servicestelle' }}.
    </a>
  </h4>
</div>
