{% set glossaryPath = path('view.ddb_glossary.ddb_glossary') %}
{% set allActive = true %}
{% for row in rows %}
  {% if allActive %}
    {% if row.active %}
      {% set allActive = false %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="view-ddb-glossary__filters-container scroll scroll--start">
  <div class="view-ddb-glossary__filters">
    {# all #}
    {% set filterClasses = [
      'view-ddb-glossary__filter-link',
      allActive ? 'view-ddb-glossary__filter-link--active',
    ] %}
    <div class="view-ddb-glossary__filter">
      <a href="{{ glossaryPath }}" class="{{ filterClasses|join(' ') }}">
        {{ 'Alle' | t }}
      </a>
    </div>

    {# the rest of the letters #}
    {% for row in rows %}
      {% set filterClasses = [
        'view-ddb-glossary__filter-link',
        row.active ? 'view-ddb-glossary__filter-link--active',
      ] %}

      <div class="view-ddb-glossary__filter">
        <a href="{{ row.url }}" class="{{ filterClasses|join(' ') }}">
          {{ row.link }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
