{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% set viewHeader = {
  title: 'Downloads & Links' | t,
  text: '' | t
} %}

<div{{ attributes.addClass(classes) }}>

  {# view header #}
  {% include '@ddbp/partials/view-header.html.twig' with viewHeader %}

  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}

  <div class="container">
    {% if rows %}
      <div class="view-content">
        <div class="documents__header">
          <div class="documents__header-title">
            {{ 'Titel' | t }}
          </div>
          <div class="documents__header-type">
            {{ 'Dokumententyp' | t }}
          </div>
          <div class="documents__header-size">
            {{ 'Dateigröße' | t }}
          </div>
          <div class="documents__header-update">
            {{ 'Letzte Aktualisierung' | t }}
          </div>
          <div class="documents__header-download"></div>
        </div>
        <div class="documents__content">
          {{ rows }}
        </div>
      </div>
      {% if pager %}
        {{ pager }}
      {% endif %}
    {% else %}
      {% include '@ddbp/views/view-empty.html.twig' %}
    {% endif %}
  </div>
</div>
