{% set join_link = '/node/278' | t %}
{% import _self as menus %}

{# We call a macro which calls itself to render the full tree. #}

<div class="main-menu" id="main-menu">
  {{ menus.menu_links(items, attributes, 0, null, join_link) }}
  {# static buttons #}
  <a href="{{ join_link }}" class="main-menu__join-button button button--secondary button--light">
    {{ 'Teilnehmen' | t }}
  </a>
</div>

{% macro menu_links(items, attributes, menu_level, submenu_parent, join_link) %}
  {% import _self as menus %}
  {% if items %}
    <ul role="menubar" class="menu-items" aria-label="{{ 'Hauptmenü' | t }}">
      {% for key, item in items %}
        {% set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expandable',
          item.in_active_trail ? 'menu-item--active-trail',
        ] %}
        <li{{ item.attributes.addClass(classes) }} role="menuitem" id="li-{{ key }}">
          {% if not item.below %}
            <a href="{{ item.url }}" class="menu-item__link">
              {% if item.content.field_icon[0] %}
                {% set responsiveImage = { images: item.content.field_icon[0].images } %}
                {% include '@ddbp/partials/responsive-image-empty-alt.html.twig' with responsiveImage %}
              {% endif %}
              <span>{{ item.title }}</span>
            </a>
          {% else %}
            <button class="menu-item__link"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="subMenu-{{ key }}">
              {% if item.content.field_icon[0] %}
                {% set responsiveImage = { images: item.content.field_icon[0].images } %}
                {% include '@ddbp/partials/responsive-image-empty-alt.html.twig' with responsiveImage %}
              {% endif %}
              <span>{{ item.title }}</span>
            </button>
          {% endif %}

          {% if item.below %}
            <div class="sub-menu-items" id="subMenu-{{ key }}">
              <button aria-label="Schliessen" class="sub-menu-items__close-button"></button>
              {{ menus.menu_links(item.below, attributes, menu_level + 1, item, join_link) }}
              <a href="{{ join_link }}" class="main-menu__join-button button button--secondary button--light">
                {{ 'Teilnehmen' | t }}
              </a>
            </div>
          {% endif %}
        </li>
      {% endfor %}
      {% if menu_level == 0 %}
        <li role="menuitem" id="li-search" class="menu-item__search menu-item">
          <button aria-label="Suchen" class="main-menu__search-button search-toggle">
            <span>{{ 'Suchen' | t }}</span>
          </button>
          {# Search form (desktop). #}
          {% include '@ddbp/partials/search-form.html.twig' with { in_menu: true } %}
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}
