{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'node--' ~ node.bundle|clean_class ~ '-full',
  'glossary-teaser',
] %}

{% set glossaryAlternatives = content.field_alternatives|render %}
{% set glossaryBody = content.body|render %}

<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}" aria-label="Details öffnen" class="glossary-teaser__title">
    <h2 class="h3">{{ label[0]['#context'].value|default('') }}</h2>
  </a>
  {% if glossaryAlternatives|trim %}
    <div class="glossary-teaser__alternatives">
        {{- glossaryAlternatives -}}
    </div>
  {% endif %}
  {% if glossaryBody|trim %}
    <div class="glossary-teaser__definition">
      <div class="text-formatted read-more">
        {{ glossaryBody }}
      </div>
      <div class="read-more__link">
        <a href="{{ url }}">
          {{ 'Weiterlesen' | t }}
        </a>
      </div>
    </div>
  {% endif %}
</article>
