{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'node--' ~ node.bundle|clean_class ~ '-full',
  'glossary',
] %}

{% set linkSecondary = {
  url: path('view.ddb_glossary.ddb_glossary'),
  text: 'Zur Übersicht' | t,
  type: 'secondary',
  bg: 'light',
} %}

<article{{ attributes.addClass(classes) }}>
  <div class="container">
    {# Breadcrumbs block #}
    {{ drupal_block('system_breadcrumb_block', wrapper=false) }}
  </div>

  <div class="node__content">
    <div class="container">
      <a id="main-content" tabindex="-1" class="visually-hidden"></a>
      <div class="row-grid row-grid--fixed">
        <div class="row-grid__title">
          <h1>{{ label[0]['#context'].value }}</h1>
        </div>
        <div class="row-grid__content">
          <div class="glossary__items node-table__items">
            {% set glossaryBody = content.body|render %}
            {% set glossaryAlternatives = content.field_alternatives|render %}
            {% set glossaryUri = content.field_uri[0]['#context'].value|default('') %}
            {% set lastModified = content.field_last_modified[0]['#context'].value|default('') %}

            {# definition #}
            {% if glossaryBody|trim %}
              <div class="node-table__item-label">
                {{ 'Begriffsdefinition:' | t }}
              </div>
              <div class="node-table__item-value">
                <div class="text-formatted">
                  {{ glossaryBody }}
                </div>
              </div>
            {% endif %}

            {# alternative terms #}
            {% if glossaryAlternatives|trim %}
              <div class="node-table__item-label">
                {{ 'Alternative Begriffe:' | t }}
              </div>
              <div class="node-table__item-value">
                {{ glossaryAlternatives }}
              </div>
            {% endif %}

            {# additional information #}
            {% if glossaryUri %}
              {% set link = {
                modifier: 'node-table',
                url: glossaryUri,
                target: true,
              } %}
              <div class="node-table__item-label">
                {{ 'Weitere Informationen:' | t }}
              </div>
              <div class="node-table__item-value">
                <span>{{ 'Uniform Resource Identifier:' | t }}</span>
                {# text link #}
                {% include '@ddbp/partials/link.html.twig' with link %}
              </div>
            {% endif %}

            {# last modified #}
            {% if lastModified %}
              <div class="node-table__item-label">
                {{ 'Letzte Aktualisierung:' | t }}
              </div>
              <div class="node-table__item-value">
                {{ lastModified|date('d.m.Y', false) }}
              </div>
            {% endif %}

          </div>

          <div class="document__links links-siblings">
            {% include '@ddbp/partials/link-button.html.twig' with { link: linkSecondary } %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {# stable link placeholder #}
  <div aria-hidden="true" class="stable-link__placeholder visually-hidden">{{ get_current_path() }}</div>
</article>
