{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'node--' ~ node.bundle|clean_class ~ '-teaser',
  'event-teaser',
] %}

{% set startDateRaw = node.field_date.start_date.getTimestamp() %}
{% set endDateRaw = node.field_date.end_date.getTimestamp() %}

{% set ics_link = calendar_link(
  'ics',
  node.title,
  node.field_date.0.start_date,
  node.field_date.0.end_date,
  false,
  node.field_description,
  node.field_location
) %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <a href="{{ url }}">
    <h3>
        {{ label[0]['#context'].value }}
    </h3>
    {% if content.field_teaser_text[0]['#context'].value %}
      <div class="teaser__text event-teaser__text">
        <p>{{- content.field_teaser_text[0]['#context'].value -}}</p>
      </div>
    {% endif %}
  </a>
  <div class="event-teaser__date">
    {% if startDateRaw %}
      <time datetime="{{ startDateRaw|format_date('custom', 'Y-m-d\\TH:i:sP') }}" title="{{ startDateRaw|format_date('custom', 'd.m.Y H:i') }}">
        {{ startDateRaw|format_date('custom', 'd.m.Y') }}
      </time>
    {% endif %}
    {% if endDateRaw and (endDateRaw is not same as(startDateRaw)) %}
      {{ ' ' ~ 'bis' | t ~ ' ' }}
      <time datetime="{{ endDateRaw|format_date('custom', 'Y-m-d\\TH:i:sP') }}" title="{{ endDateRaw|format_date('custom', 'd.m.Y H:i') }}">
        {{ endDateRaw|format_date('custom', 'd.m.Y') }}
      </time>
    {% endif %}
  </div>
  <div class="event-teaser__ical">
    <a href="{{ ics_link }}" aria-label="{{ 'iCalendar Datei zu der Veranstaltung herunterladen' | t }}">
      <i aria-hidden="true" class="fa-regular fa-calendar-plus"></i>
    </a>
  </div>
</article>
